{% extends 'doctors/base.html' %}

{% block title %}Lista de Médicos{% endblock %}

{% block content %}
    <div class="w-screen-xl max-w-screen-xl mx-auto mt-36 font-din bg-white">
      <div class="text-center">
        <h2 class="font-marvin mb-4 text-2xl md:text-5xl font-bold text-[#738252]">Encontre seu especialista em cannabis medicinal</h2>
        <h4 class="px-10 mb-7 md:text-2xl"> Busque por especialidade, pelo nome do profissional da saúde ou utilize umas das palavras-chave abaixo.</h4>

        <div class="flex flex-wrap mt-10 items-center justify-center gap-2 mb-6">
          {% for specialty in specialties %}
              <a href="?especialidade={{ specialty }}" class="flex items-center  justify-center cursor-pointer py-1 m-0 bg-kaya-green-400 text-green-900 px-10 pt-1 rounded-lg text-xs font-bold uppercase hover:bg-kaya-green-500 peer-checked:bg-kaya-green-500 transition">
                  {{ specialty }}
              </a>
          {% endfor %}
      </div>

      </div>
        <div class="flex max-w-screen-xl mb-5">
            <form method="GET" action="" class="mb-6 w-full relative">
              <input type="hidden" name="especialidade" value="{{ request.GET.especialidade }}">
              <input 
                  type="text" 
                  name="q" 
                  value="{{ pesquisa_nome }}" 
                  class="rounded-full bg-[##F3F4F6] pl-10 w-full px-8 py-2 border-gray-300
                  block text-sm text-gray-900 bg-gray-100 border-0 shadow-lg md:py-5 md:px-12 md:rounded-full ps-10 focus:ring-blue-500 focus:border-blue-500"
              >
              <svg class="absolute top-[10px] md:top-[20px] left-4 md:left-5 h-4 svg-inline--fa fa-magnifying-glass text-gray-500" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg>
              <p class="text-kaya-green-500 text-base font-bold mt-3 ml-5">Total de 21 prescritores</p>
          </form>
        </div>

                <!-- Badges de Ordenação -->
                <div class="flex flex-col flex-wrap gap-2 mb-6">
                  <div class="flex flex-row gap-4 text-gray-500 mb-5">
                    <div class="text-xl font-bold">Filtros</div>
                    <svg class="svg-inline--fa w-7 fa-filter text-2xl" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="filter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M3.9 54.9C10.5 40.9 24.5 32 40 32l432 0c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9 320 448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6l0-79.1L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"></path></svg>
                  </div>
                  <div class="flex flex-row gap-4">
                    <a href="?ordenacao=menor_valor&especialidade={{ specialty }}&q={{ pesquisa_nome }}" 
                    class="text-gray-600 bg-gray-300 flex items-center justify-center cursor-pointer py-1 m-0 px-6 pt-1 rounded-full text-xs font-bold uppercase 
                    {% if ordenacao == 'menor_valor' %}
                        bg-blue-500 text-white
                    {% else %}
                        bg-blue-200 text-blue-900 hover:bg-blue-300
                    {% endif %}
                 ">
                     Menor Valor
                 </a>
                 <a href="?ordenacao=maior_valor&especialidade={{ specialty }}&q={{ pesquisa_nome }}" 
                    class="text-gray-600 bg-gray-300 flex items-center justify-center cursor-pointer p-0 m-0 px-6 pt-1 rounded-full text-xs font-bold uppercase 
                    {% if ordenacao == 'maior_valor' %}
                        bg-blue-500 text-white
                    {% else %}
                        bg-blue-200 text-blue-900 hover:bg-blue-300
                    {% endif %}
                 ">
                     Maior Valor
                 </a>
                 <a href="?ordenacao=visualizacoes&especialidade={{ specialty }}&q={{ pesquisa_nome }}" 
                    class="text-gray-600 bg-gray-300 flex items-center justify-center cursor-pointer p-0 m-0 px-6 pt-1 rounded-full text-xs font-bold uppercase 
                    {% if ordenacao == 'visualizacoes' %}
                        bg-blue-500 text-white
                    {% else %}
                        bg-blue-200 text-blue-900 hover:bg-blue-300
                    {% endif %}
                 ">
                     Visualizações
                 </a>
                  </div>
                  
              </div>
              <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-20">
                {% for doctor in doctors %}
                    <div class="card bg-[#F9F9FA] text-start">
                        <div class="header">
                            <img src="{{ doctor.image }}" alt="{{ doctor.name }}" 
                                class="w-full h-96 bg-red-600 object-cover rounded-l-lg">
                        </div>
                        <div class="body">
                            <div class="p-5">
                                <h3 class="text-xl font-bold">{{ doctor.name }}</h3>
                                <p class="text-gray-600 italic">{{ doctor.specialty }}</p>
                                <p class="text-base font-bold text-gray-500 mt-2">R$ {{consultation_fee}} | 90 min</p>
                            </div>
                            
                            <div class="mt-4 flex flex-col justify-center space-x-2 bg-white pt-5">
                              <a class="w-full font-bold py-2 text-white border rounded-lg text-xl text-center bg-kaya-dark-green" href="{% url 'detalhes_medico' doctor.id %}">AGENDAR CONSULTA</a>
                              <a href="{% url 'detalhes_medico' doctor.id %}" class="w-full text-kaya-dark-green font-bold uppercase text-center px-4 py-2 rounded-lg">Ver Mais</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
              </div>
    </div>
{% endblock %}