{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}KayaDoc{% endblock %}</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    {% tailwind_css %}
</head>
<body class="bg-gray-50 overflow-x-hidden">
    {% include 'doctors/navbar.html' %}

    <div class="w-screen-xl max-w-screen-xl mx-auto mt-[130px]">
        {% block content %}
        {% endblock %}
    </div>

    {% include 'doctors/footer.html' %}
    
</body>
</html>
